[submodule "app"]
	path = app
	url = git@github.com:nealfennimore/neal.codes-app.git
	branch = master
[submodule "ghost"]
	path = ghost
	url = git@github.com:nealfennimore/Ghost.git
	branch = release-0.11.3
